<div class="container">
    <div class="component-section">
      <app-ng-if-component></app-ng-if-component>
    </div>
    
    <hr>
  
    <div class="component-section">
      <app-ng-for-component></app-ng-for-component>
    </div>
  
    <hr>
  
    <div class="component-section">
      <app-ng-switch-component></app-ng-switch-component>
    </div>
  
    <hr>
  
    <div class="component-section">
      <app-ng-style-component></app-ng-style-component>
    </div>
  
    <hr>
  
    <div class="component-section">
      <app-ng-class-component></app-ng-class-component>
    </div>
  </div>
  