<div class="container mt-5">
    <!-- Seção ngIf -->
    <div class="card mb-4">
      <div class="card-header bg-primary text-white">
        <h2>Controle Condicional com ngIf</h2>
      </div>
      <div class="card-body">
        <app-ng-if-component></app-ng-if-component>
      </div>
    </div>
  
    <!-- Seção ngFor -->
    <div class="card mb-4">
      <div class="card-header bg-success text-white">
        <h2>Laços com ngFor</h2>
      </div>
      <div class="card-body">
        <app-ng-for-component></app-ng-for-component>
      </div>
    </div>
  
    <!-- Seção ngSwitch -->
    <div class="card mb-4">
      <div class="card-header bg-info text-white">
        <h2>Escolhas com ngSwitch</h2>
      </div>
      <div class="card-body">
        <app-ng-switch-component></app-ng-switch-component>
      </div>
    </div>
  </div>
  